.About-conteiner {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 4em;
}

.text-About {
    display: flex !important;
    flex-direction: column;
    justify-content: space-around;
    gap: 5em;
}

.title{
    font-size: 5em;
    color: var(--laranja);
    position: relative;
    right: 5em;
}
.habilidades {
    display: flex;
    flex-direction: column;
}
.habilidades-cards {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    max-width: 70vw;
    position: relative;
    left: 25em;
}
.card {
    flex: none; 
    margin: 0.5em;
}
