.About-conteiner {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 4em;
}

.About-container {
    display: flex !important;
    flex-direction: column;
    justify-content: space-around;
    gap: 5em;
    margin-top: 5em;
}

.text-About {
    display: flex !important;
    flex-direction: column;
    gap: 2em;
}

.title {
    font-size: 5em;
    color: var(--laranja);
    position: relative;
    right: 5em;
    gap: 15em;
    display: block;
}

.habilidades-conteiner {
    display: flex;
    flex-direction: column;
    margin-bottom: 5em;
}

.tecnologias-cards {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    max-width: 100vw;
    position: relative;
    left: 5em;
}
.habilidades-cards {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    max-width: 90vw;
    position: relative;
    left: 25em;
}
.card {
    flex: none;
    margin: 0.5em;
}