*:root {
  --fundo-claro:rgb(204,235,255);
  --fundo-degrade: linear-gradient(0deg, rgba(255,255,255,1) 100%, rgba(196,231,254,1) 50%, rgba(110,190,244,1) 0%);
  --laranja:rgb(233, 117, 9);
  --verde:rgba(5, 68, 64, 0.9164040616246498);
  --preto:rgba(0, 0, 0, 0.916);
  --branco:rgba(255, 255, 255, 0.916);
}
.App {
  text-align: center;
  overflow-x: hidden;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
